<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/jpg" href="images/favicon.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <!-- <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="asdf">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->
  <!-- <link rel="manifest" href="manifest.json">
  <link rel="icon" sizes="196x196" href="images/Icon-196.png"> -->
  <!-- <link rel="apple-touch-icon" href="images/Icon-60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/Icon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/Icon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/Icon-152.png"> -->
  <title>Starter Project</title>
  <!-- Backup Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic" rel="stylesheet" type="text/css">
  <!-- Includes all compiled css based bower components; i.e. bootstrap.css, main.css, etc. -->
  <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
  <!-- place body elements above this line -->
  <div class="screen-resolution"><p></p></div>
  <script src="js/app.min.js"></script>
</body>
</html>
