// main: main.styl

*
  position relative
  height auto

.clear-float
  clear both

h1, h2, h3, h4, h5, h6, p
  margin 0
  padding 0
  line-height 1

input, textarea, select
  -webkit-appearance none
  -moz-appearance none
  appearance none

a,
a:link,
a:visited,
a:hover,
a:active
  color inherit
  text-decoration none

p
  a,
  a:link,
  a:visited,
  a:hover,
  a:active
    color inherit
    text-decoration underline

img
  max-width 100%
